.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea{
    width: 70vw;
    margin: 0 auto;
    border: 2px solid rgb(0, 238, 255);
    border-radius: 5px;
    padding: 5px;
}

textarea[placeholder="digite aqui"]{
   color: darkred;
   font-weight: bold;
}

button{
    width: 50vw;
    margin: 10px auto;
    border: none;
    padding: 10px;
    background-color: rgb(51, 0, 236);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#wordsDiv, #lettersDiv {
    margin-top : 20px;
    border: 2px solid blue;
    padding: 5px;
    color: darkred;
    font-weight: bold
}

@media only screen and (min-width: 768px){
    .container{
        margin-top: 20px;
    }
    
    textarea{
        width: 60vw;
    }

}
